<div class="header">
	<ul class="nav nav-pills pull-right">
		<!--<a href="/">Home</a> | <a href="/cv">CV</a> | <a href="/outreach">Outreach</a> | <a href="/current_project">Current Project</a> | <a href="/publications">Publications</a>-->

		<li class="{{ page.publications }}"><a href="/publications" title="Publications">Publications</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		<li class="{{ page.current_project }}"><a href="/current_project" title="Current Project">Current Project</a></li>
		<!-- <li class="{{ page.outreach }}"><a href="/outreach" title="Outreach">Outreach</a></li> -->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Maria-Theresia Walach</a></h3>
</div> <!-- /header -->
